

<h3>Welcome to the library app   <%=current_user.username if current_user%>. </h3> <br>
<p class="font-weight-normal">We created this app as an open source and  hope the community will contribute!</p>
<div><a href = "/books/new" ><button type="button">Create a Book</button></a> </div><br><br>
<%if current_user && !current_user.checkouts.empty? %>
 <button class="js-more" >More info</button><br><br>



<div class="container">
  <p class="text-warning">Your checkout books</p>
  <div class="row justify-content-start">
      <div class="col-4">
      <strong>Book Tittle: </strong><br>
      <p class="text-info"> </p>
    </div>
    <div class="col-4">
      <strong>Due Date: </strong><br>
     <span class="text-info"> </span>
    </div>
  </div>
</div>
 <%end%>
