Thank  You for visiting our library  <%=current_user.username%>, please come again.
<br>
<h3>Book taken out: </h3>
<p><%=@checkout.book.title.capitalize%>. </p>

<p>Checked out: <%=time (@checkout.created_at)%> </p>
<p>Due date: <%= time (@checkout.due_date)%> <p>
