@import "bootstrap";

body {
  background-color:rgb(212, 239, 248)
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(73, 73, 73);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(81, 247, 81);
}
table,  td {
 
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}

.success-message {
  color: green;
  position: relative;
  padding-left: 32px;
  font-family: sans-serif;
}
.success-message:before {
   content: "";
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  height: 10px;
  width: 4px;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  left: 12px;
  top: 0;
  background: transparent;
}
.checkout ol li {
display: inline;
background-color:rgb(190, 239, 255);

}
.review_container li {
display: block;
}