Thank you <%=current_user.username%> for taking the time out of you day, to review this book. 
<br><br>

<h3>Title: <%=@review.book.title%></h3> 
<p>Comments:  <%=@review.comments%><br>
Status:  <%=@review.status%>
</p>